html, body {
  font-family: Helvetica, Arial, sans-serif;
}

code {
  font-family: 'courier', monospace;
}

pre {
  background-color: #333333;
  color: white;
  border: solid thin #333333;
  border-radius: 3px;
  padding: .5em;
  overflow-x: auto;
  overflow-y: auto;
  /* max-height: 450px; */
}

p code {
  border-radius: 5px;
  background: lemonchiffon;
}

li code {
  border-radius: 5px;
  background: lemonchiffon;
}

.content {
  max-width: 90ex;
  font-size: 1.03em;
  margin-left: calc(10vw + 30ex);
  margin-right: 4ex;
  margin-top: 40px;
  margin-bottom: 50px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

p, li {
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 1.8em;
}


/* TOC */

.nav {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  max-width: 40ex;
  min-width: 26ex;
  width: 20%;
  background: #f6f8fa;
  padding-top: 30px;
  overflow: auto;
  color: #1F2D3D;
  padding-left: 2ex;
  padding-right: 2ex;
}

blockquote {
  font-style: italic;
}


.nav .title a {
  text-decoration: none;
  color: inherit;
}

.nav ul {
  padding: 1em;
  list-style-type: none;
}

.nav ul, .nav ol {
  list-style-position: outside;
  margin: 0;
  padding: 0;
}

.nav ul li {
  font-weight: 700;
  padding-left: 12px;
  color: rgb(112, 112, 112);
}

.nav ul li:hover {
  color: black;
}

.nav ul li ul li {
  font-weight: normal;
  font-size: 0.96em;
  margin-top: 4px;
  margin-left: 5px;
}

.nav ul li a {
  text-decoration: none;
  color: inherit;
}

.content a { 
  text-decoration: none;
  color: inherit;
  border-bottom: solid rgba(255, 165, 0, 0.4);
}

.menu-toggle {
  display: none;
}

@media screen and (max-width: 600px) {
  .menu-toggle {
    position: fixed;
    display: block;
    top: 0px;
    right: 0px;
    background: #f6f8fa;
    padding: 1em;
    overflow: auto;
    color: #1F2D3D;
    padding-left: 2ex;
    padding-right: 2ex;
  }

  .nav {
    left: -40ex;
  }

  .nav-out {
    left: 0px;
  }

  .content {
    margin-left: 4ex;
  }
}

/* Syntax Highlighting */
span[class*='keyword'] {
  color: #ffaca3
}

span[class*='constant'] {
  color: #fabd2f
}

span[class*='variable'] {
  color: #85ebeb;
  font-style: italic;
}

span[class*='entity'] {
  color: #85ebeb;
  font-style: italic;
}

span[class*='support'] {
  color: #83a598;
}

span[class*='literal'] {
  color: #d3869b
}

span[class*='literal'] {
  color: #d3869b
}

span[class*='string'] {
  color: #b8bb26
}

span[class*='numeric'] {
  color: #ff5683
}

/* === TOC === */
.toc {
  list-style-type: none;
  margin-left: -20px;
}

.toc-link {
  font-size: 0.9em;
}